@import "tailwindcss";

:root {
    --noctura-blue: #01066c;
}

.bg-noctura-blue {
    background-color: var(--noctura-blue);
}

.text-noctura-blue {
    color: var(--noctura-blue);
}

.border-noctura-blue {
    border-color: var(--noctura-blue);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
